<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stanleyj.android.food_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PaymentActivity"></activity>

        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_2aba58ee31f91638956ab4d35f1bcbecf3c62e2c" />

        <activity android:name=".UpdateRemoveActivity" />
        <activity android:name=".Updatefoodctivity" />
        <activity android:name=".admin.RemovefoodActivity" />
        <activity android:name=".admin.AdminMenuActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".admin.AddfoodActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>